.topic{
    color: hotpink;
    text-align: center;
    width: 100%;
    position: fixed;
}

body{
    background-image: url("./bot-logo.webp");
    opacity: 0.9;
    background-repeat: no-repeat;
    background-position: right top ;
}

.Ten {
    font-family: 'Corinthia', cursive;
    font-weight: bold;
    font-size: 40px;
    font-variant: small-caps;
}

table, td,th {
    border: 1px solid black;
    border-collapse: collapse;
    background-color: bisque;
}
.Class-9A{
    color: yellow;
    background-color: violet;
}

.Ten{
    color: tomato;
    border: 1px solid rgb(210, 228, 111);
    margin: 0;
}
#Myname{
    color:yellowgreen;
    border:2px dashed red;
}

.icon-fish {
    font-size: 24px;
}

.ca{
    color: brown;
}

.ca:hover{
    color: burlywood;
}

.ca:active{
    color: cadetblue;
}

.Link-fa {
    text-decoration: none;
    color: grey;
    cursor: pointer;
}

.logo-itviec {
    position: absolute;
    z-index: -1;
}